<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
  <link rel="manifest" href="favicon/site.webmanifest" />
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ff0000" />
  <!-- First, all the preloads -->
  <link rel="preload" as="font" type="font/woff" href="fonts/Lato/Lato-Regular.woff" crossorigin />
  <link rel="preload" as="font" type="font/woff" href="fonts/Lato/Lato-Bold.woff" crossorigin />
  <link rel="stylesheet" href="css/style.bundle.css?v=0.0.9" />
  <title>SmartCredit | Все страницы</title>
  <base href="https://yurifa.github.io/smartcredit-html/dist/" target="_blank">
  <style>
    body {
      padding: 20px;
    }

    ul {
      margin-bottom: 30px;
    }

    li {
      padding-bottom: 12px;
    }

    a {
      font-size: 1.1em;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 1.2em;
    }
  </style>
</head>

<body>
  <h2>Основные страницы</h2>
  <ul>
    <li>
      <a href="index.html">Главная</a>
    </li>
    <li>
      <a href="login.html">Авторизация</a>
    </li>
    <li>
      <a href="social-networks.html">Привязать социальные сети</a>
    </li>
    <li>
      <a href="change-password.html">Безопасность (смена пароля)</a>
    </li>
    <li>
      <a href="about.html">О компании</a>
    </li>
    <li>
      <a href="back.html">Как вернуть деньги</a>
    </li>
    <li>
      <a href="contacts.html">Контактная информация</a>
    </li>
    <li>
      <a href="disclosure.html">Раскрытие информации</a>
    </li>
    <li>
      <a href="faq.html">FAQ</a>
    </li>
    <li>
      <a href="history.html">Исправление кредитной истории</a>
    </li>
    <li>
      <a href="how.html">Как взять деньги</a>
    </li>
    <li>
      <a href="loyalty.html">Программа лояльности</a>
    </li>
    <li>
      <a href="news-detail.html">Новость детальная</a>
    </li>
    <li>
      <a href="partner.html">Партнерская программа</a>
    </li>
  </ul>

  <h2>Шаги</h2>
  <ul>
    <li>
      <a href="authorize.html">Шаг 0 - Авторизация</a>
    </li>
    <li>
      <a href="step-1.1.html">Шаг-1.1</a>
    </li>
    <li>
      <a href="step-1.2.html">Шаг-1.2</a>
    </li>
    <li>
      <a href="step-2.html">Шаг-2</a>
    </li>
    <li>
      <a href="step-3.1.html">Шаг-3.1</a>
    </li>
    <li>
      <a href="step-3.2.html">Шаг-3.2</a>
    </li>
    <li>
      <a href="step-3.3.html">Шаг-3.3</a>
    </li>
    <li>
      <a href="step-4-account-list.html">Шаг-4-account-list</a>
    </li>
    <li>
      <a href="step-4-add-account.html">Шаг-4-add-account</a>
    </li>
    <li>
      <a href="step-4-add-card.html">Шаг-4-add-card</a>
    </li>
    <li>
      <a href="step-4.1.html">Шаг-4.1</a>
    </li>
    <li>
      <a href="step-4.2.html">Шаг-4.2</a>
    </li>
    <li>
      <a href="step-4.3.html">Шаг-4.3</a>
    </li>
    <li>
      <a href="step-4.html">Шаг-4</a>
    </li>
  </ul>

  <h2>Личный кабинет</h2>
  <ul>
    <li>
      <a href="get-loan.html">Возьмите займ на выгодных условиях</a>
    </li>
    <li>
      <a href="get-loan-active.html">Возьмите займ на выгодных условиях (с ошибкой)</a>
    </li>
    <li>
      <a href="active-loan-expired.html">Активный займ (expired)</a>
    </li>
    <li>
      <a href="active-loan-prolong.html">Активный займ (prolog)</a>
    </li>
    <li>
      <a href="active-loan.html">Активный займ</a>
    </li>
    <li>
      <a href="lk-faq.html">FAQ</a>
    </li>
    <li>
      <a href="lk-loyalty.html">Программа лояльности</a>
    </li>
    <li>
      <a href="loans-history.html">История займов</a>
    </li>
    <li>
      <a href="my-documents.html">Мои документы</a>
    </li>
    <li>
      <a href="payment-details.html">Платежные реквизиты</a>
    </li>
    <li>
      <a href="profile.html">Личная информация (профиль)</a>
    </li>
    <li>
      <a href="new-ticket.html">Заявки в службу поддержки</a>
    </li>
    <li>
      <a href="repayment.html">Погашение займа</a>
    </li>
    <li>
      <a href="support-tickets-empty.html">Заявки в службу поддержки (пустые)</a>
    </li>
    <li>
      <a href="support-tickets.html">Заявки в службу поддержки</a>
    </li>
    <li>
      <a href="affiliate.html">Партнерская страница (affiliate)</a>
    </li>
    <li>
      <a href="request-verification.html">Заявка на кредит отправлена (на верификации)</a>
    </li>
    <li>
      <a href="request-accepted.html">Заявка на кредит оформлена</a>
    </li>
    <li>
      <a href="request-rejected.html">Заявка на кредит отклонена</a>
    </li>
    <li>
      <a href="ticket.html">Заявка #24442</a>
    </li>
    <li>
      <a href="security">Безопасность</a>
    </li>
    <li>
      <a href="approved">Вам одобрен займ</a>
    </li>
    <li>
      <a href="approved-sms">Вам одобрен займ (sms)</a>
    </li>
    <li>
      <a href="coupon">Купон на скидку</a>
    </li>
  </ul>

  <h2>Партнерский кабинет</h2>
  <ul>
    <li>
      <a href="generator">Генератор ссылок</a>
    </li>
    <li>
      <a href="landings">Лендинги</a>
    </li>
    <li>
      <a href="banners">Баннеры</a>
    </li>
    <li>
      <a href="actions">Акции</a>
    </li>
    <li>
      <a href="add-platform">Добавить платформу</a>
    </li>
    <li>
      <a href="statistics-gived-loan">Статистика (gived loan)</a>
    </li>
    <li>
      <a href="statistics-approved-loan">Статистика (approved loan)</a>
    </li>
    <li>
      <a href="graphic">Статистика (graphic)</a>
    </li>
    <li>
      <a href="statistics-params">Статистика по параметрам ссылок</a>
    </li>
  </ul>
</body>

</html>