<% var data = {
  title: "SmartCredit | Безопасность",
  name: 'change-password',
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main main-change-password">
  <section class="section section-change-password">
    <h1 class="change-password__page-title">Безопасность</h1>
    <div class="change-password-wrapper">
      <div class="change-password-header">
        <h3 class="change-password-title">Изменить пароль</h3>
      </div>
      <form class="change-password-form">
        <label class="change-password-form__field">
          <span class="change-password-form__field-label">Текущий пароль</span>
          <input class="lk-input change-password-form__field-input" type="password" placeholder="">
        </label>
        <label class="change-password-form__field">
          <span class="change-password-form__field-label">Новый пароль</span>
          <input class="lk-input change-password-form__field-input" type="password" placeholder="">
        </label>
        <label class="change-password-form__field">
          <span class="change-password-form__field-label">Повторите пароль</span>
          <input class="lk-input change-password-form__field-input" type="password" placeholder="">
        </label>
        <button class="btn btn--orange change-password-submit">Сохранить</button>
      </form>
      <div class="change-password-socials">
        <p class="login-by-socials__title">Привязать социальные сети</p>
        <ul class="login-by-socials__list">
          <li class="login-by-socials__list-item">
            <a href="#" class="social-oauth-link">
              <img class="social-oauth-link__image" src="icons/social-auth/yandex.svg" alt="Яндекс" width="11"
                height="21">
            </a>
          </li>
          <li class="login-by-socials__list-item">
            <a href="#" class="social-oauth-link">
              <img class="social-oauth-link__image" src="icons/social-auth/google.svg" alt="Google" width="23"
                height="23">
            </a>
          </li>
          <li class="login-by-socials__list-item">
            <a href="#" class="social-oauth-link">
              <img class="social-oauth-link__image" src="icons/social-auth/mail.svg" alt="Mail.ru" width="23"
                height="23">
            </a>
          </li>
          <li class="login-by-socials__list-item">
            <a href="#" class="social-oauth-link">
              <img class="social-oauth-link__image" src="icons/social-auth/fb.svg" alt="Facebook" width="25"
                height="25">
            </a>
          </li>
          <li class="login-by-socials__list-item">
            <a href="#" class="social-oauth-link">
              <img class="social-oauth-link__image" src="icons/social-auth/vk.svg" alt="VKontakte" width="25"
                height="25">
            </a>
          </li>
          <li class="login-by-socials__list-item">
            <a href="#" class="social-oauth-link">
              <img class="social-oauth-link__image" src="icons/social-auth/ok.svg" alt="Одноклассники" width="14"
                height="23">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/body-end.html'))(data) %>
