<% var data = {
  title: "SmartCredit | Контактная информация",
  name: 'contacts',
  scripts: '<script src="https://api-maps.yandex.ru/2.1.74/?lang=ru_RU" type="text/javascript"></script>',
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main main-contacts">
  <section class="section section-hero contacts-hero">
    <div class="contacts-hero-container">
      <h1 class="hero-title">Контактная информация</h1>
    </div>
  </section>
  <section class="section contacts-main">
    <div class="page-container contacts-main__container">
      <h2 class="section-title">8 495 268 05 57</h2>
      <p class="contacts-main__address">г. Москва, Ленинская Слобода ул., дом 19, строение 6, комнаты 6,7</p>
      <div class="contacts-main__actions">
        <button class="btn contacts-main__actions-item feedback-button top-area-link" data-id="top-feedback">
          <span class="icon icon-feedback"></span>
          <span>Обратная связь</span>
        </button>
        <button class="btn contacts-main__actions-item callback-button top-area-link" data-id="top-callback">
          <span class="icon icon-callback"></span>
          <span>Обратный звонок</span>
        </button>
      </div>
    </div>
  </section>
  <section class="section contacts-map">
    <div class="page-container contacts-map__container">
      <div id="contacts-map"></div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>