<% var data = {
  title: "SmartCredit | Кредитный отчет",
  name: 'credit-report',
}; %>
<%= _.template(require('./../includes/lk-header.html'))(data) %>

<main class="main">


    <section class="credit-report lk-section">
      <h1 class="report-title section-title lk-section-title">Кредитный отчет</h1>
      <div class="credit-report__inner lk-content-block">
        <section class="credit-report__hero">
          <div class="credit-report__hero-block credit-report__hero-block--left">
            <h2 class="credit-report__h2">
              Получите кредитный отчет и исправьте свою кредитную историю
            </h2>
            <p class="credit-report__text">
              Кредитный отчет — многостраничный файл с подробными сведениями о вашей кредитной истории и уникальным анализом вашего кредитного рейтинга.
            </p>
            <button class="btn btn--orange credit-report__btn" type="button">Заказать за 590 ₽</button>
          </div>
          <div class="credit-report__hero-block credit-report__hero-block--img">
            <img class="credit-report__hero-img" src="images/credit-report.jpg" srcset="images/credit-report.jpg, images/credit-report@2x.jpg 2x" alt="">
            <div class="credit-report__image-block credit-report__image-block--big">
              <h4 class="credit-report__h4">Кредитная история</h4>
              <div class="credit-report__table">
                <div class="credit-report__tr">
                  <div class="credit-report__td">Открытых: 10</div>
                  <div class="credit-report__td isgreen">Активные</div>
                </div>
                <div class="credit-report__tr">
                  <div class="credit-report__td">Закрытых: 21</div>
                  <div class="credit-report__td isgrey">Неактивные</div>
                </div>
              </div>
            </div>
            <div class="credit-report__image-block credit-report__image-block--small">
              <h4 class="credit-report__h4">Наименование</h4>
              <div class="credit-report__table">
                <div class="credit-report__th">
                    Микрокредит
                </div>
                <div class="credit-report__tr">
                  Количество: 8
                </div>
                <div class="credit-report__tr">
                 Сумма: 173 189 ₽
                </div>
              </table>
            </div>
          </div>
        </section>
        <section class="credit-report__charts report-charts">
          <div class="report-charts__list">
            <div class="report-charts__item">
              <div class="report-charts__item-part report-charts__item-part--left">
                <div class="report-charts__chart report-charts__chart--rating">
                  <img src="images/rating-3.svg" alt="">
                </div>
              </div>
              <div class="report-charts__item-part report-charts__item-part--right">
                <div class="report-charts__line-block">
                  <div class="report-charts__line-icon">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.25 5.09082C2.25 4.26232 2.9215 3.59082 3.75 3.59082H4.75C5.026 3.59082 5.25 3.81482 5.25 4.09082V16.0908C5.25 16.3668 5.026 16.5908 4.75 16.5908H3.75C2.9215 16.5908 2.25 17.2623 2.25 18.0908V5.09082Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5.25 6.59082H17.75C18.5785 6.59082 19.25 7.26232 19.25 8.09082V18.0908C19.25 18.9193 18.5785 19.5908 17.75 19.5908H3.75C2.9215 19.5908 2.25 18.9193 2.25 18.0908" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M8.75 16.0908H15.75" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M8.75 13.0908L10.75 11.0908L12.75 13.0908L15.75 10.0908" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M13.75 10.0908H15.75V12.0908" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M20.9987 8.47852V18.0905C20.9987 19.8825 19.5407 21.3405 17.7487 21.3405H4.13672C4.44722 22.2115 5.27222 22.8405 6.24872 22.8405H17.7487C20.3677 22.8405 22.4987 20.7095 22.4987 18.0905V10.5905C22.4987 9.61402 21.8697 8.78952 20.9987 8.47852Z" fill="currentColor"/>
                      </svg>
                  </div>
                </div>
                <div class="report-charts__text-block">
                  <h2>Анализ кредитной истории</h2>
                  <p>В кредитном отчете представлен подробный анализ вашей кредитной истории, указаны факторы, влияющие на улучшение или ухудшение кредитной истории. Кредитная история — ваша репутация в финансовой организации. Хорошая кредитная история — залог получения любого кредитного продукта. Мы также предлагаем действенные решения для улучшения вашей кредитной истории.</p>
                </div>
              </div>
            </div>
            <div class="report-charts__item">
              <div class="report-charts__item-part report-charts__item-part--left">
                <div class="report-charts__chart report-charts__chart--rating">
                  <img src="images/rating-2.svg" alt="">
                </div>
              </div>
              <div class="report-charts__item-part report-charts__item-part--right">
                <div class="report-charts__line-block">
                  <div class="report-charts__line-icon">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.75109 14.3463C6.75109 13.3783 5.96659 12.5938 4.99859 12.5938C4.03059 12.5938 3.24609 13.3783 3.24609 14.3463C3.24609 15.1758 3.24609 19.5128 3.24609 20.3413C3.24609 21.3093 4.03059 22.0938 4.99859 22.0938C5.96659 22.0938 6.75109 21.3093 6.75109 20.3413C6.75109 19.5123 6.75109 15.1753 6.75109 14.3463Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                      <path d="M13.7511 18.3433C13.7511 17.3753 12.9666 16.5908 11.9986 16.5908C11.0306 16.5908 10.2461 17.3753 10.2461 18.3433C10.2461 19.1728 10.2461 19.5123 10.2461 20.3408C10.2461 21.3088 11.0306 22.0933 11.9986 22.0933C12.9666 22.0933 13.7511 21.3088 13.7511 20.3408C13.7511 19.5118 13.7511 19.1728 13.7511 18.3433Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                      <path d="M20.7511 12.8433C20.7511 11.8753 19.9666 11.0908 18.9986 11.0908C18.0306 11.0908 17.2461 11.8753 17.2461 12.8433C17.2461 13.6728 17.2461 19.5123 17.2461 20.3408C17.2461 21.3088 18.0306 22.0933 18.9986 22.0933C19.9666 22.0933 20.7511 21.3088 20.7511 20.3408C20.7511 19.5118 20.7511 13.6728 20.7511 12.8433Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                      <path d="M5 9.09082C5.9665 9.09082 6.75 8.30732 6.75 7.34082C6.75 6.37432 5.9665 5.59082 5 5.59082C4.0335 5.59082 3.25 6.37432 3.25 7.34082C3.25 8.30732 4.0335 9.09082 5 9.09082Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 13.0908C12.9665 13.0908 13.75 12.3073 13.75 11.3408C13.75 10.3743 12.9665 9.59082 12 9.59082C11.0335 9.59082 10.25 10.3743 10.25 11.3408C10.25 12.3073 11.0335 13.0908 12 13.0908Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M19 7.59082C19.9665 7.59082 20.75 6.80732 20.75 5.84082C20.75 4.87432 19.9665 4.09082 19 4.09082C18.0335 4.09082 17.25 4.87432 17.25 5.84082C17.25 6.80732 18.0335 7.59082 19 7.59082Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M13.375 10.2599L17.623 6.92188" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.51953 8.20898L10.4805 10.472" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
                <div class="report-charts__text-block">
                  <h2>Что такое кредитный рейтинг</h2>
                  <p>Кредитный отчет, на основании вашего кредитного рейтинга, предоставит подробный прогноз по доступности для вас различных кредитных продуктов. Кредитный рейтинг — это оценка вашей платежеспособности. От кредитного рейтинга зависит вероятность того, будет вам одобрен или не одобрен кредитный продукт. Чем выше ваш кредитный рейтинг, тем выгоднее и привлекательнее будут условия, предлагаемые финансовыми организациями.</p>
                </div>
              </div>
            </div>
            <div class="report-charts__item">
              <div class="report-charts__item-part report-charts__item-part--left">
                <div class="report-charts__chart report-charts__chart--rating">
                  <img src="images/rating-1.svg" alt="">
                </div>
              </div>
              <div class="report-charts__item-part report-charts__item-part--right">
                <div class="report-charts__line-block">
                  <div class="report-charts__line-icon">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.7511 12.8433C13.7511 11.8753 12.9666 11.0908 11.9986 11.0908C11.0306 11.0908 10.2461 11.8753 10.2461 12.8433C10.2461 13.6728 10.2461 19.5123 10.2461 20.3408C10.2461 21.3088 11.0306 22.0933 11.9986 22.0933C12.9666 22.0933 13.7511 21.3088 13.7511 20.3408C13.7511 19.5118 13.7511 13.6728 13.7511 12.8433Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                      <path d="M6.75109 17.3404C6.75109 16.3724 5.96659 15.5879 4.99859 15.5879C4.03059 15.5879 3.24609 16.3724 3.24609 17.3404C3.24609 18.1699 3.24609 19.5114 3.24609 20.3404C3.24609 21.3084 4.03059 22.0929 4.99859 22.0929C5.96659 22.0929 6.75109 21.3084 6.75109 20.3404C6.75109 19.5114 6.75109 18.1699 6.75109 17.3404Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                      <path d="M20.7511 5.34332C20.7511 4.37532 19.9666 3.59082 18.9986 3.59082C18.0306 3.59082 17.2461 4.37532 17.2461 5.34332C17.2461 6.17282 17.2461 19.5123 17.2461 20.3408C17.2461 21.3088 18.0306 22.0933 18.9986 22.0933C19.9666 22.0933 20.7511 21.3088 20.7511 20.3408C20.7511 19.5118 20.7511 6.17282 20.7511 5.34332Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                      <path d="M2.75 12.5908L11.75 4.59082" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12.25 7.59082V4.09082H8.75" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
                <div class="report-charts__text-block">
                  <h2>Как улучшить кредитный рейтинг</h2>
                  <p>В кредитном отчете мы посчитаем ваш скоринговый балл, оценим уровень закредитованности, дадим рекомендации по улучшению Предельной долговой нагрузки. Вы увидите полный анализ вашей текущей кредитной ситуации и рекомендации по ее улучшению. Улучшите ваш кредитный рейтинг и увеличьте вероятность получения кредитных продуктов с помощью кредитного отчета!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="credit-report__order">
          <p class="credit-report__order-note">Закажите кредитный отчет в PDF-файле</p>
          <button  class="btn btn--orange credit-report__btn" type="button">Заказать за 590 ₽</button>
        </div>
      </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
