<% var data = {
  title: "SmartCredit | Лендинги",
  name: 'landings',
  activeLink: 'landings',
}; %>
<%= _.template(require('./../includes/partnership-header.html'))(data) %>

<main class="main partnership-main">
  <div class="partnership-container partnership-page-container">
    <%= _.template(require('./../includes/partnership-sidebar.html'))(data) %>
    <section class="partnership-section">
      <div class="partnership-section__header">
        <h2 class="partnership-section-title">Лендинги</h2>
      </div>
      <div class="partnership-section__content">
        <p class="landings-notice">В данном разделе вы можете получить ссылки к уникальным лендингам SmartCredit</p>
        <ul class="landings-list">
          <li class="landings-list__item landing-item">
            <div class="landing-item__number">
              <span class="landing-item__number-value">1</span>
            </div>
            <div class="landing-item__content">
              <div class="landing-item__description">
                <p class="landing-item__description-title">Текстура как экзарация</p>
                <p class="landing-item__description-date">Добавлен 10.03.2019</p>
              </div>
              <div class="landing-item__stats">
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CR</p>
                  <p class="landing-item__stats-col__value">4.96%</p>
                </div>
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CPL</p>
                  <p class="landing-item__stats-col__value">321 ₽</p>
                </div>
              </div>
              <div class="landing-item__actions">
                <button class="btn btn--orange-transparent landing-item__actions-button">Получить ссылку</button>
              </div>
            </div>
          </li>
          <li class="landings-list__item landing-item">
            <div class="landing-item__number">
              <span class="landing-item__number-value">2</span>
            </div>
            <div class="landing-item__content">
              <div class="landing-item__description">
                <p class="landing-item__description-title">Корунд как блеск</p>
                <p class="landing-item__description-date">Добавлен 10.03.2019</p>
              </div>
              <div class="landing-item__stats">
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CR</p>
                  <p class="landing-item__stats-col__value">3.45%</p>
                </div>
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CPL</p>
                  <p class="landing-item__stats-col__value">314 ₽</p>
                </div>
              </div>
              <div class="landing-item__actions">
                <button class="btn btn--orange-transparent landing-item__actions-button">Получить ссылку</button>
              </div>
            </div>
          </li>
          <li class="landings-list__item landing-item">
            <div class="landing-item__number">
              <span class="landing-item__number-value">3</span>
            </div>
            <div class="landing-item__content">
              <div class="landing-item__description">
                <p class="landing-item__description-title">Абразивный неоцен</p>
                <p class="landing-item__description-date">Добавлен 10.03.2019</p>
              </div>
              <div class="landing-item__stats">
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CR</p>
                  <p class="landing-item__stats-col__value">3.21%</p>
                </div>
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CPL</p>
                  <p class="landing-item__stats-col__value">289 ₽</p>
                </div>
              </div>
              <div class="landing-item__actions">
                <button class="btn btn--orange-transparent landing-item__actions-button">Получить ссылку</button>
              </div>
            </div>
          </li>
          <li class="landings-list__item landing-item">
            <div class="landing-item__number">
              <span class="landing-item__number-value">4</span>
            </div>
            <div class="landing-item__content">
              <div class="landing-item__description">
                <p class="landing-item__description-title">Интрузивный плюмаж</p>
                <p class="landing-item__description-date">Добавлен 10.03.2019</p>
              </div>
              <div class="landing-item__stats">
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CR</p>
                  <p class="landing-item__stats-col__value">2.83%</p>
                </div>
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CPL</p>
                  <p class="landing-item__stats-col__value">254 ₽</p>
                </div>
              </div>
              <div class="landing-item__actions">
                <button class="btn btn--orange-transparent landing-item__actions-button">Получить ссылку</button>
              </div>
            </div>
          </li>
          <li class="landings-list__item landing-item">
            <div class="landing-item__number">
              <span class="landing-item__number-value">5</span>
            </div>
            <div class="landing-item__content">
              <div class="landing-item__description">
                <p class="landing-item__description-title">Увалистый кварц</p>
                <p class="landing-item__description-date">Добавлен 10.03.2019</p>
              </div>
              <div class="landing-item__stats">
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CR</p>
                  <p class="landing-item__stats-col__value">2.43%</p>
                </div>
                <div class="landing-item__stats-col">
                  <p class="landing-item__stats-col__title">CPL</p>
                  <p class="landing-item__stats-col__value">205 ₽</p>
                </div>
              </div>
              <div class="landing-item__actions">
                <button class="btn btn--orange-transparent landing-item__actions-button">Получить ссылку</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <%= _.template(require('./../includes/partnership-advantages.html'))(data) %>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>