<% var data = {
  title: "SmartCredit | Программа лояльности",
  name: 'loyalty',
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main main-loyalty">
  <section class="section section-hero loyalty-hero">
    <div class="loyalty-hero-container">
      <h1 class="hero-title">Программа лояльности</h1>
    </div>
  </section>
  <section class="section loyalty-discount">
    <div class="page-container">
      <h2 class="section-title">Скидка на оплату процентов до 25%</h2>
      <svg class="loyalty-discount-chart" width="1001" height="398" viewBox="0 0 1001 398" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path opacity=".2" fill-rule="evenodd" clip-rule="evenodd"
          d="M976.578 398H24.084V270.5L261 255l240.5-66L740 171l236.578-61v288z" fill="url(#paint0_linear)" /><text
          fill="#17233B" font-family="Lato" font-size="15" letter-spacing="0em" white-space="pre">
          <tspan x="478" y="153.806">4 займ</tspan>
        </text>
        <path d="M524 103c0 12.703-10.297 23-23 23s-23-10.297-23-23 10.297-23 23-23 23 10.297 23 23z" stroke="#FF4E2C"
          stroke-width="2" /><text fill="#FF4E2C" font-family="Lato" font-size="15" font-weight="bold"
          letter-spacing="0" white-space="pre">
          <tspan x="483.356" y="107.805">-15%</tspan>
        </text><text fill="#17233B" font-family="Lato" font-size="15" letter-spacing="0em" white-space="pre">
          <tspan x="239" y="218.805">3 займ</tspan>
        </text>
        <path fill="#fff" d="M238 144h48v48h-48z" />
        <path d="M285 168c0 12.703-10.297 23-23 23s-23-10.297-23-23 10.297-23 23-23 23 10.297 23 23z" stroke="#FF4E2C"
          stroke-width="2" /><text fill="#FF4E2C" font-family="Lato" font-size="15" font-weight="bold"
          letter-spacing="0" white-space="pre">
          <tspan x="244.356" y="172.805">-10%</tspan>
        </text><text fill="#17233B" font-family="Lato" font-size="15" letter-spacing="0em" white-space="pre">
          <tspan x="1" y="234.805">2 займ</tspan>
        </text>
        <path d="M47 184c0 12.703-10.297 23-23 23S1 196.703 1 184s10.297-23 23-23 23 10.297 23 23z" stroke="#FF4E2C"
          stroke-width="2" /><text fill="#FF4E2C" font-family="Lato" font-size="15" font-weight="bold"
          letter-spacing="0" white-space="pre">
          <tspan x="10.207" y="188.805">-5%</tspan>
        </text><text fill="#17233B" font-family="Lato" font-size="15" letter-spacing="0em" white-space="pre">
          <tspan x="716" y="135.805">5 займ</tspan>
        </text>
        <path d="M762 85c0 12.703-10.297 23-23 23s-23-10.297-23-23 10.297-23 23-23 23 10.297 23 23z" fill="#fff"
          stroke="#FF4E2C" stroke-width="2" /><text fill="#FF4E2C" font-family="Lato" font-size="15" font-weight="bold"
          letter-spacing="0" white-space="pre">
          <tspan x="721.356" y="89.805">-20%</tspan>
        </text>
        <g>
          <text fill="#17233B" font-family="Lato" font-size="15" letter-spacing="0em" white-space="pre">
            <tspan x="954" y="74.805">6 займ</tspan>
          </text>
          <path d="M1000 24c0 12.703-10.297 23-23 23s-23-10.297-23-23 10.297-23 23-23 23 10.297 23 23z" fill="#fff"
            stroke="#FF4E2C" stroke-width="2" /><text fill="#FF4E2C" font-family="Lato" font-size="15"
            font-weight="bold" letter-spacing="0" white-space="pre">
            <tspan x="959.356" y="28.805">-25%</tspan>
          </text>
        </g>
        <path d="M24 270.5L261 255l240-66 238-18 238-61" stroke="#FF4E2C" stroke-width="2" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M739 179a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM501 197a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM977 118a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM261 262a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM24 278a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"
          fill="#fff" stroke="#FF4E2C" stroke-width="2" />
        <defs>
          <linearGradient id="paint0_linear" x1="500.331" y1="109.093" x2="500.331" y2="398"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#FF4E2C" />
            <stop offset="1" stop-color="#FF4E2C" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
      <div class="loyalty-discount-chart-mobile">
        <div class="loyalty-discount-chart-mobile__row discount-line">
          <div class="discount-line__handle" style="left: 0%;">
            <div class="discount-line__handle-icon">-5%</div>
            <div class="discount-line__handle-notice">2 займ</div>
          </div>
          <div class="discount-line__handle" style="left: 25%;">
            <div class="discount-line__handle-icon">-10%</div>
            <div class="discount-line__handle-notice">3 займ</div>
          </div>
          <div class="discount-line__handle" style="left: 50%;">
            <div class="discount-line__handle-icon">-15%</div>
            <div class="discount-line__handle-notice">4 займ</div>
          </div>
          <div class="discount-line__handle" style="left: 75%;">
            <div class="discount-line__handle-icon">-20%</div>
            <div class="discount-line__handle-notice">5 займ</div>
          </div>
          <div class="discount-line__handle" style="left: 100%;">
            <div class="discount-line__handle-icon">-25%</div>
            <div class="discount-line__handle-notice">6 займ</div>
          </div>
        </div>
      </div>
      <p class="loyalty-discount-notice">Скидка действительна в течении 12 месяцев</p>
    </div>
  </section>
  <section class="section loyalty-participation">
    <div class="page-container">
      <h2 class="section-title">Участие в&nbsp;программе лояльности</h2>
      <ul class="loyalty-participation-list">
        <li class="loyalty-participation-list__item participation-item">
          <div class="participation-item__icon">
            <span class="icon icon-loyalty-clock"></span>
          </div>
          <p class="participation-item__notice">
            Клиент может принять участие в&nbsp;программе лояльности, погасив первый полученный займ вовремя
          </p>
        </li>
        <li class="loyalty-participation-list__item participation-item">
          <div class="participation-item__icon">
            <span class="icon icon-loyalty-calendar"></span>
          </div>
          <p class="participation-item__notice">
            Активный срок предыдущего займа должен бытьне менее 14&nbsp;дней
          </p>
        </li>
        <li class="loyalty-participation-list__item participation-item">
          <div class="participation-item__icon">
            <span class="icon icon-loyalty-prize"></span>
          </div>
          <p class="participation-item__notice">
            Скидки программы лояльности уникальны и не суммируются с&nbsp;другими&nbsp;индивидуальными предложениями от
            SmartCredit
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section loyalty-questions">
    <div class="page-container">
      <h2 class="section-title">Вопросы о программе лояльности</h2>
      <ul class="loyalty-questions-list accordion" data-allow-toggle data-allow-multiple data-animation="fadeIn">
        <li class="loyalty-questions-list__item">
          <div class="loyalty-question accordion-trigger" aria-expanded="false" aria-controls="sect1" id="accordion1id">
            <span class="icon icon-arrow-down loyalty-question__icon"></span>
            <span class="loyalty-question__title">Кто может стать участником программы лояльности SmartCredit?</span>
          </div>
          <p class="loyalty-answer" id="sect1" role="region" aria-labelledby="accordion1id" class="accordion-panel"
            hidden="">
            Участником программы лояльности становится Клиент при условии что, предыдущий заем был оплачен
            вовремя, а также активный срок предыдущего займабыл не менее 14 дней.
          </p>
        </li>
        <li class="loyalty-questions-list__item">
          <div class="loyalty-question accordion-trigger" aria-expanded="false" aria-controls="sect2" id="accordion2id">
            <span class="icon icon-arrow-down loyalty-question__icon"></span>
            <span class="loyalty-question__title">Как увеличивается скидка в программе лояльности?</span>
          </div>
          <p class="loyalty-answer" id="sect2" role="region" aria-labelledby="accordion2id" class="accordion-panel"
            hidden="">
            Участником программы лояльности Клиент становится автоматически со второго займа, если
            предыдущий заем был оплачен в срок.
            <br>
            <br>
            Для каждого последующего займа предоставляется дополнительная скидка на 5% больше предыдущей.
            Следовательно, на второй заем Вам будет предоставлена 5% скидка, на третий 10%, на четвертый 15%,
            и так на каждый следующий.
            <br>
            <br>
            Оплачивая заем своевременно, Ваша скидка возрастает на 5%, пока Вы не
            достигнете скидки в 25% на оплату процентов. Скидка действительна 12 месяцев с момента последней
            оплаты.
          </p>
        </li>
        <li class="loyalty-questions-list__item">
          <div class="loyalty-question accordion-trigger" aria-expanded="false" aria-controls="sect3" id="accordion3id">
            <span class="icon icon-arrow-down loyalty-question__icon"></span>
            <span class="loyalty-question__title">Как клиент узнает, какой уровень скидки доступен для него?</span>
          </div>
          <p class="loyalty-answer" id="sect3" role="region" aria-labelledby="accordion3id" class="accordion-panel"
            hidden="">
            Уровень текущей скидки доступен в Личном Кабинете на сайте
            <a href="https://smartcredit.ru">smartcredit.ru</a>, а также в информационном блоке при
            оформлении новой заявки.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section loyalty-help bg-beige">
    <div class="page-container">
      <div class="loyalty-help-row">
        <div class="loyalty-help-row__col">
          <p class="loyalty-help__title">Нужна помощь?</p>
          <div class="loyalty-help-contacts">
            <p class="loyalty-help-contacts__phone">8 (495) 268-05-57</p>
            <p class="loyalty-help-contacts__notice">Звонок по России бесплатный</p>
          </div>
        </div>
        <div class="loyalty-help-row__col loyalty-help-questions">
          <div class="loyalty-help-questions__col">
            <p class="loyalty-help__title">Остались вопросы?</p>
            <p class="loyalty-help-questions__item">Кто может оформить заявку?</p>
            <p class="loyalty-help-questions__item">Как получить заем?</p>
            <p class="loyalty-help-questions__item">Каковы условия для меня?</p>
            <button class="btn btn--orange loyalty-help-questions__button">Вопросы и ответы</button>
          </div>
          <div class="loyalty-help-questions__col">
            <img class="img-responsive" src="images/operator.svg" width="263" height="263">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>