<% var data = {
  title: "SmartCredit | Заявка на кредит отклонена",
  name: 'request-verification',
}; %>
<%= _.template(require('./../includes/lk-header.html'))(data) %>

<main class="main main-request-verification">
  <section class="section lk-section">
    <div class="lk-page-container request-verification-page-container">
      <h2 class="section-title lk-section-title">К сожалению, вам отказано в предоставлении микрозайма</h2>
      <div class="lk-section-wrapper">
        <div class="lk-content-block request-verification">
          <div class="request-verification-content">
            <p class="request-verification-notice">
              Вы можете обратиться к нашим партнерам
            </p>
            <ul class="lk-table request-verification-list">
              <li class="lk-table__row request-verification-list__item">
                <div class="lk-table__row-inner request-verification-list__row">
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">Центр онлайн-займов</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">www.zaemvsem24.ru</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <a href="https://www.zaemvsem24.ru"
                      class="btn btn--orange-transparent request-verification-partner-link">Перейти</a>
                  </p>
                </div>
              </li>
              <li class="lk-table__row request-verification-list__item">
                <div class="lk-table__row-inner request-verification-list__row">
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">Все займы</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">www.vsezaimyonline.ru</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <a href="https://www.vsezaimyonline.ru"
                      class="btn btn--orange-transparent request-verification-partner-link">Перейти</a>
                  </p>
                </div>
              </li>
              <li class="lk-table__row request-verification-list__item">
                <div class="lk-table__row-inner request-verification-list__row">
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">Рейтинг онлайн-займов</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">www.ratingzaymov.ru</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <a href="https://www.ratingzaymov.ru"
                      class="btn btn--orange-transparent request-verification-partner-link">Перейти</a>
                  </p>
                </div>
              </li>
              <li class="lk-table__row request-verification-list__item">
                <div class="lk-table__row-inner request-verification-list__row">
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">Центр онлайн-займов</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">www.zaemvsem24.ru</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <a href="https://www.zaemvsem24.ru"
                      class="btn btn--orange-transparent request-verification-partner-link">Перейти</a>
                  </p>
                </div>
              </li>
              <li class="lk-table__row request-verification-list__item">
                <div class="lk-table__row-inner request-verification-list__row">
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">Все займы</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">www.vsezaimyonline.ru</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <a href="https://www.vsezaimyonline.ru"
                      class="btn btn--orange-transparent request-verification-partner-link">Перейти</a>
                  </p>
                </div>
              </li>
              <li class="lk-table__row request-verification-list__item">
                <div class="lk-table__row-inner request-verification-list__row">
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">Рейтинг онлайн-займов</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">www.ratingzaymov.ru</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <a href="https://www.ratingzaymov.ru"
                      class="btn btn--orange-transparent request-verification-partner-link">Перейти</a>
                  </p>
                </div>
              </li>
              <li class="lk-table__row request-verification-list__item">
                <div class="lk-table__row-inner request-verification-list__row">
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">Центр онлайн-займов</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <span class="lk-table__cell-value">www.zaemvsem24.ru</span>
                  </p>
                  <p class="lk-table__cell request-verification-list__cell">
                    <a href="https://www.zaemvsem24.ru"
                      class="btn btn--orange-transparent request-verification-partner-link">Перейти</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>