<% var data = {
  title: "SmartCredit | Шаг 4 - добавление карты",
}; %>
<%= _.template(require('./../includes/step-header.html'))(data) %>

<body class="application">
  <header class="header application-header">
    <div class="application-header__container">
      <div class="header-left">
        <a href="/" class="logo">
          <img src="icons/logo.svg" alt="Smart Credit logo" width="147" height="20">
        </a>
      </div>
      <div class="header-right">
        <a href="#" class="link link--right-icon header-profile-link">
          <span>Мой кабинет</span>
          <span class="icon icon-profile"></span>
        </a>
      </div>
    </div>
  </header>
  <main class="main main-application">
    <section class="section-application">
      <div class="section-application__container">
        <form class="application-form">
          <div class="application-form__steps">
            <ul class="step-list">
              <li class="step step-one">
                <div class="step__number">1</div>
                <p class="step__title">Контактная информация</p>
              </li>
              <li class="step step-two">
                <div class="step__number">2</div>
                <p class="step__title">Паспортные данные</p>
              </li>
              <li class="step step-three">
                <div class="step__number">3</div>
                <p class="step__title">Дополнительная информация</p>
              </li>
              <li class="step step-four step--active">
                <div class="step__number">4</div>
                <p class="step__title">Получение денег</p>
              </li>
            </ul>
          </div>
          <div class="application-form__steps-mobile">
            <p class="application-form__steps-mobile__title">Получение денег</p>
          </div>
          <div class="application-form__progress">
            <div class="progress">
              <div class="progress-filled" style="width: 100%;"></div>
              <div class="progress-text progress-text--finished">
                <div class="progress-text__percent">100%</div>
                <div class="progress-text__fraction">Шаг 4 из 4</div>
              </div>
            </div>
          </div>
          <div class="application-formblock application-formblock-prevalue">
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемая сумма денег</p>
              <p class="application-choose__value">100 000 ₽</p>
            </div>
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемый срок займа</p>
              <p class="application-choose__value">30 дней</p>
            </div>
          </div>
          <div
            class="application-formblock application-fieldgroup application-fieldgroup--many application-fieldgroup--small">
            <div class="application-card-add-block">
              <a class="link application-back-link" href="#">
                <span class="icon icon-arrow-left"></span>
                <span>Вернуться на выбор способа</span>
              </a>
              <p class="application-card-add-block__title">Добавление карты</p>
              <div class="card-template-wrapper">
                <div class="card-template-container">
                  <div class="template-item card-template">
                    <div class="card-template-row">
                      <img class="card-template__bank" src="images/sberbank.png" alt="Сбербанк" width="169" height="32">
                      <img class="card-template__type" src="images/visa.png" alt="Visa" width="87" height="28">
                    </div>
                    <div class="card-template-row">
                      <p class="card-template__number">1234 - 5678 - 9000 - 0000</p>
                    </div>
                    <div class="card-template-row">
                      <p class="card-template__name">Алексей Петров</p>
                      <p class="card-template__date">11/24</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="application-fieldgroup__row">
                <input class="application-input application-fieldgroup__input application-fieldgroup__input--full"
                  type="text" placeholder="Номер карты">
                <input class="application-input application-fieldgroup__input application-fieldgroup__input--medium"
                  type="text" placeholder="Действует до">
              </div>
              <div class="application-fieldgroup__row">
                <input class="application-input application-fieldgroup__input application-fieldgroup__input--full"
                  type="text" placeholder="Имя и фамилия">
              </div>
            </div>
          </div>
          <div class="application-formblock application-form-next-action">
            <button class="btn btn--orange application-next-button" type="button">Добавить карту</button>
          </div>
        </form>
        <div class="application-footer application-footer-security">
          <div class="application-footer-container">
            <p class="application-security-title">Безопасность Вашей информации обеспечивается с помощью протоколов
              (SSL/TLS)</p>
            <div class="application-security-logos">
              <img class="application-security-logos__item" src="images/geotrust.png" alt="geotrust" width="60"
                height="40">
              <img class="application-security-logos__item" src="images/qualys.png" alt="qualys" width="40"
                height="40">
              <img class="application-security-logos__item" src="images/thawte.png" alt="thawte" width="46"
                height="40">
              <img class="application-security-logos__item" src="images/pci.png" alt="pci" width="51" height="39">
              <img class="application-security-logos__item" src="images/comodo.png" alt="comodo" width="68"
                height="38">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="js/bundle.js?v=0.0.1"></script>
</body>

</html>
