<% var data = {
  title: "SmartCredit | Шаг 4 - список карт и счетов",
}; %>
<%= _.template(require('./../includes/step-header.html'))(data) %>

<body class="application">
  <header class="header application-header">
    <div class="application-header__container">
      <div class="header-left">
        <a href="/" class="logo">
          <img src="icons/logo.svg" alt="Smart Credit logo" width="147" height="20">
        </a>
      </div>
      <div class="header-right">
        <a href="#" class="link link--right-icon header-profile-link">
          <span>Мой кабинет</span>
          <span class="icon icon-profile"></span>
        </a>
      </div>
    </div>
  </header>
  <main class="main main-application">
    <section class="section-application">
      <div class="section-application__container">
        <form class="application-form">
          <div class="application-form__steps">
            <ul class="step-list">
              <li class="step step-one">
                <div class="step__number">1</div>
                <p class="step__title">Контактная информация</p>
              </li>
              <li class="step step-two">
                <div class="step__number">2</div>
                <p class="step__title">Паспортные данные</p>
              </li>
              <li class="step step-three">
                <div class="step__number">3</div>
                <p class="step__title">Дополнительная информация</p>
              </li>
              <li class="step step-four step--active">
                <div class="step__number">4</div>
                <p class="step__title">Получение денег</p>
              </li>
            </ul>
          </div>
          <div class="application-form__steps-mobile">
            <p class="application-form__steps-mobile__title">Получение денег</p>
          </div>
          <div class="application-form__progress">
            <div class="progress">
              <div class="progress-filled" style="width: 100%;"></div>
              <div class="progress-text progress-text--finished">
                <div class="progress-text__percent">100%</div>
                <div class="progress-text__fraction">Шаг 4 из 4</div>
              </div>
            </div>
          </div>
          <div class="application-formblock application-formblock-prevalue">
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемая сумма денег</p>
              <p class="application-choose__value">100 000 ₽</p>
            </div>
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемый срок займа</p>
              <p class="application-choose__value">30 дней</p>
            </div>
          </div>
          <div class="ctabs account-type-tabs">
            <div class="ctabs-tablist account-type-tabs__tablist" role="tablist">
              <div class="account-type-tabs__tablist-container">
                <button type="button" class="ctabs-tablist__item account-type-tabs__tablist-item" role="tab"
                  aria-selected="true" aria-controls="cards-tab" id="cards">Карты</button>
                <button type="button" class="ctabs-tablist__item account-type-tabs__tablist-item" role="tab"
                  aria-selected="false" aria-controls="accounts-tab" id="accounts" tabindex="-1">Счета</button>
                <button type="button" class="ctabs-tablist__item account-type-tabs__tablist-item " role="tab"
                  aria-selected="false" aria-controls="qiwi-tab" id="qiwi" tabindex="-1">Другие платежные системы</button>

              </div>
            </div>
            <div class="ctabs-panel account-type-tabs__panel" tabindex="0" role="tabpanel" id="cards-tab"
              aria-labelledby="cards">
              <div class="ctabs-panel__content account-type-tabs__panel-content">
                <div class="application-formblock application-formblock-accounts">
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="payment-banks__status-badge"></div>
                    <div class="card-template-container">
                      <div class="template-item card-template">
                        <div class="card-template-row">
                          <img class="card-template__bank" src="images/sberbank.png" alt="Сбербанк" width="169"
                            height="32">
                          <img class="card-template__type" src="images/visa.png" alt="Visa" width="87" height="28">
                        </div>
                        <div class="card-template-row">
                          <p class="card-template__number">1234 - 5678 - 9000 - 0000</p>
                        </div>
                        <div class="card-template-row">
                          <p class="card-template__name">Алексей Петров</p>
                          <p class="card-template__date">11/24</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="payment-banks__status-badge"></div>
                    <div class="card-template-container">
                      <div class="template-item card-template">
                        <div class="card-template-row">
                          <img class="card-template__bank" src="images/sberbank.png" alt="Сбербанк" width="169"
                            height="32">
                          <img class="card-template__type" src="images/mastercard.png" alt="Mastercard" width="52"
                            height="32">
                        </div>
                        <div class="card-template-row">
                          <p class="card-template__number">ХХХХ - ХХХХ - ХХХХ - 9999</p>
                        </div>
                        <div class="card-template-row">
                          <p class="card-template__name">Алексей Петров</p>
                          <p class="card-template__date">11/24</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="card-template-container">
                      <a href="#" class="template-item application-banks__item-add bank-cards__add">
                        <span class="icon icon-plus-circle application-banks__item-add__icon"></span>
                        <span class="application-banks__item-add__title">Добавить карту</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ctabs-panel account-type-tabs__panel" tabindex="0" role="tabpanel" id="qiwi-tab"
              aria-labelledby="qiwi" hidden="">
              <div class="ctabs-panel__content account-type-tabs__panel-content">
                <div class="application-formblock application-formblock-accounts">
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="payment-banks__status-badge"></div>
                    <div class="card-template-container">
                      <div class="template-item qiwi-template">
                        <div class="card-template-row">
                          <img class="card-template__bank" src="images/qiwi.png" alt="QIWI" width="98" height="44">
                        </div>
                        <div class="card-template-row card-template-row--centered">
                          <p class="card-template__number">+7 999 999 99 99</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="card-template-container">
                      <a href="#" class="template-item application-banks__item-add qiwi__add">
                        <span class="icon icon-plus-circle application-banks__item-add__icon"></span>
                        <span class="application-banks__item-add__title">Добавить QIWI Кошелек</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ctabs-panel account-type-tabs__panel" tabindex="0" role="tabpanel" id="accounts-tab"
              aria-labelledby="accounts" hidden="">
              <div class="ctabs-panel__content account-type-tabs__panel-content">
                <div class="application-formblock application-formblock-accounts">
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="payment-banks__status-badge"></div>
                    <div class="card-template-container">
                      <div class="template-item account-template">
                        <div class="account-template-row">
                          <img class="account-template__bank" src="images/sberbank.png" alt="Сбербанк" width="169"
                            height="32">
                        </div>
                        <div class="account-template-row">
                          <p class="account-template__title">Основной счет</p>
                        </div>
                        <div class="account-template-row">
                          <p class="account-template__number">ХХХХХХ - 5678</p>
                          <p class="account-template__icon">
                            <span class="icon icon-bank-black"></span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="payment-banks__status-badge"></div>
                    <div class="card-template-container">
                      <div class="template-item account-template">
                        <div class="account-template-row">
                          <img class="account-template__bank" src="images/sberbank.png" alt="Сбербанк" width="169"
                            height="32">
                        </div>
                        <div class="account-template-row">
                          <p class="account-template__title">Сберегательный счет</p>
                        </div>
                        <div class="account-template-row">
                          <p class="account-template__number">ХХХХХХ - 5678</p>
                          <p class="account-template__icon">
                            <span class="icon icon-bank-black"></span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-template-wrapper application-banks-template-wrapper payment-banks-template-wrapper">
                    <div class="card-template-container">
                      <a href="#" class="template-item application-banks__item-add bank-accounts__add">
                        <span class="icon icon-plus-circle application-banks__item-add__icon"></span>
                        <span class="application-banks__item-add__title">Добавить счет</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="application-formblock application-cards">
            <ul class="application-cards-list">
              <li >
                <div class="application-card application-card--sber  application-card--white">
                  <input class="application-card-input visually-hidden" type="radio" id="sberbank" name="bank" checked>
                  <label class="application-card-label" for="sberbank">
                    <div>
                      <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                      </svg>
                    </div>
                  </label>
                  <p class="application-card-bank">
                    <img src="icons/sberbank-small.svg" alt="Sberbank" width="22" height="22">
                  </p>
                  <p class="application-card-number application-card-number--white">
                    <span class="application-card-account-name">Карта</span>
                    <span>
                      <span>****</span>
                      <span>****</span>
                      <span>****</span>
                      <span>5678</span>
                    </span>
                  </p>
                </div>
              </li>
              <li >
                <div class="application-card application-card--tinkoff  application-card--white">
                  <input class="application-card-input visually-hidden" type="radio" id="tinkoff" name="bank">
                  <label class="application-card-label" for="tinkoff">
                    <div>
                      <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                      </svg>
                    </div>
                  </label>
                  <p class="application-card-bank">
                    <img src="icons/tinkoff-small.svg" alt="tinkoff" width="31" height="27">
                  </p>
                  <p class="application-card-number application-card-number--white">
                    <span class="application-card-account-name">Карта</span>
                    <span>
                      <span>****</span>
                      <span>****</span>
                      <span>****</span>
                      <span>5678</span>
                    </span>
                  </p>
                  </div>
                </li>
                <li >
                  <div class="application-card application-card--alfa  application-card--white">
                    <input class="application-card-input visually-hidden" type="radio" id="alfabank" name="bank">
                    <label class="application-card-label" for="alfabank">
                      <div>
                        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                        </svg>
                      </div>
                    </label>
                    <p class="application-card-bank">
                      <img src="icons/alfa-small.svg" alt="alfabank" width="14" height="22">
                    </p>
                    <p class="application-card-number application-card-number--white">
                      <span class="application-card-account-name">Карта</span>
                      <span>
                        <span>****</span>
                        <span>****</span>
                        <span>****</span>
                        <span>5678</span>
                      </span>
                    </p>
                    </div>
                  </li>
                  <li >
                    <div class="application-card application-card--account  application-card--white">
                      <input class="application-card-input visually-hidden" type="radio" id="account" name="bank">
                      <label class="application-card-label" for="account">
                        <div>
                          <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                          </svg>
                        </div>
                      </label>
                      <p class="application-card-bank">
                        <img src="icons/card-small.svg" alt="account" width="22" height="16">
                      </p>

                      <p class="application-card-number application-card-number--white">
                        <span class="application-card-account-name">Счет</span>
                        <span>
                          <span>****</span>
                          <span>****</span>
                          <span>****</span>
                          <span>5678</span>
                        </span>
                      </div>
                    </li>

                    <li >
                      <div class="application-card application-card--qiwi  application-card--white">
                        <input class="application-card-input visually-hidden" type="radio" id="qiwiID" name="bank">
                        <label class="application-card-label" for="qiwiID">
                          <div>
                            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                            </svg>
                          </div>
                        </label>
                        <p class="application-card-bank">
                          <img src="icons/qiwi-account.svg" alt="account" width="20" height="20">
                        </p>

                        <p class="application-card-number application-card-number--white">
                          <span class="application-card-account-name">QIWI</span>
                          <span>
                            89059958775
                          </span>
                        </div>
                      </li>

            </ul>
          </div>
          <div class="application-formblock application-form-next-action">
            <button class="btn btn--orange application-next-button" type="button">Получить деньги</button>
          </div>
        </form>
      </div>
    </section>


  </main>
  <script src="js/bundle.js?v=0.0.1"></script>

</body>

</html>
