<% var data = {
  title: "SmartCredit | Шаг 4.3",
}; %>
<%= _.template(require('./../includes/step-header.html'))(data) %>

<body class="application">
  <header class="header application-header">
    <div class="application-header__container">
      <div class="header-left">
        <a href="/" class="logo">
          <img src="icons/logo.svg" alt="Smart Credit logo" width="147" height="20">
        </a>
      </div>
      <div class="header-right">
        <a href="#" class="link link--right-icon header-profile-link">
          <span>Мой кабинет</span>
          <span class="icon icon-profile"></span>
        </a>
      </div>
    </div>
  </header>
  <main class="main main-application">
    <section class="section-application">
      <div class="section-application__container">
        <form class="application-form">
          <div class="application-form__steps">
            <ul class="step-list">
              <li class="step step-one">
                <div class="step__number">1</div>
                <p class="step__title">Контактная информация</p>
              </li>
              <li class="step step-two">
                <div class="step__number">2</div>
                <p class="step__title">Паспортные данные</p>
              </li>
              <li class="step step-three">
                <div class="step__number">3</div>
                <p class="step__title">Дополнительная информация</p>
              </li>
              <li class="step step-four step--active">
                <div class="step__number">4</div>
                <p class="step__title">Получение денег</p>
              </li>
            </ul>
          </div>
          <div class="application-form__steps-mobile">
            <p class="application-form__steps-mobile__title">Получение денег</p>
          </div>
          <div class="application-form__progress">
            <div class="progress">
              <div class="progress-filled" style="width: 100%;"></div>
              <div class="progress-text progress-text--finished">
                <div class="progress-text__percent">100%</div>
                <div class="progress-text__fraction">Шаг 4 из 4</div>
              </div>
            </div>
          </div>
          <div class="application-formblock application-formblock-prevalue">
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемая сумма денег</p>
              <p class="application-choose__value">100 000 ₽</p>
            </div>
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемый срок займа</p>
              <p class="application-choose__value">30 дней</p>
            </div>
          </div>
          <div class="application-formblock application-fieldgroup application-fieldgroup--small">
            <div class="application-documents-uploader">
              <div class="application-documents-uploader__list">
                <div class="application-documents-uploader__list-item document-uploader">
                  <p class="document-uploader__title">Фото/скан паспорта с фотографией</p>
                  <img class="document-uploader__example" src="images/photo-example-1.svg"
                    alt="Пример фото/скан паспорта с фотографией" width="100" height="148">
                  <label class="document-uploader__field document-uploader__field--uploaded">
                    <span class="btn btn--orange document-uploader__field-filebutton">Прикрепить</span>
                    <span
                      class="btn btn--orange document-uploader__field-filebutton document-uploader__field-filebutton--uploaded">Документ
                      загружен</span>
                    <input class="document-uploader__field-input" type="file" name="doc_photo">
                  </label>
                </div>
                <div class="application-documents-uploader__list-item document-uploader">
                  <p class="document-uploader__title">Фото/скан паспорта с пропиской</p>
                  <img class="document-uploader__example" src="images/photo-example-2.svg"
                    alt="Пример фото/скан паспорта с фотографией" width="100" height="148">
                  <label class="document-uploader__field">
                    <span class="btn btn--orange document-uploader__field-filebutton">Прикрепить</span>
                    <span
                      class="btn btn--orange document-uploader__field-filebutton document-uploader__field-filebutton--uploaded">Документ
                      загружен</span>
                    <input class="document-uploader__field-input" type="file" name="doc_address">
                  </label>
                </div>
                <div class="application-documents-uploader__list-item document-uploader">
                  <p class="document-uploader__title">Фото/скан действующей банковской карты</p>
                  <img class="document-uploader__example" src="images/photo-example-3.svg"
                    alt="Пример фото/скан паспорта с фотографией" width="100" height="66">
                  <label class="document-uploader__field">
                    <span class="btn btn--orange document-uploader__field-filebutton">Прикрепить</span>
                    <span
                      class="btn btn--orange document-uploader__field-filebutton document-uploader__field-filebutton--uploaded">Документ
                      загружен</span>
                    <input class="document-uploader__field-input" type="file" name="doc_card">
                  </label>
                </div>
              </div>
              <div class="application-documents-rules">
                <ul class="application-documents-rules-list">
                  <li class="application-documents-rules-list__item">
                    <span class="application-documents-rules-list__item-number">1.</span>
                    <span class="application-documents-rules-list__item-content">Прикрепите файл с
                      фотографией/сканом разворота паспорта с фотографией</span>
                  </li>
                  <li class="application-documents-rules-list__item">
                    <span class="application-documents-rules-list__item-number">2.</span>
                    <span class="application-documents-rules-list__item-content">Прикрепите файл с
                      фотографией/сканом разворота паспорта с пропиской</span>
                  </li>
                  <li class="application-documents-rules-list__item">
                    <span class="application-documents-rules-list__item-number">3.</span>
                    <span class="application-documents-rules-list__item-content">Прикрепите файл с
                      фотографией/сканом действующей банковской карты</span>
                  </li>
                </ul>
              </div>
              <div class="application-documents-rules-important">
                <p class="application-documents-rules-important__title">Важно!</p>
                <ul class="application-documents-rules-list">
                  <li class="application-documents-rules-list__item">
                    <span class="application-documents-rules-list__item-number">1.</span>
                    <span class="application-documents-rules-list__item-content">Не допускайте бликов и не
                      закрывайте информацию в документах</span>
                  </li>
                  <li class="application-documents-rules-list__item">
                    <span class="application-documents-rules-list__item-number">2.</span>
                    <span class="application-documents-rules-list__item-content">Лицо, данные паспорта и
                      кредитной карты должны быть четко видны.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <%= _.template(require('./../includes/step-formblock-gosuslugi.html'))(data) %>
          <div class="application-formblock application-form-next-action">
            <button class="btn btn--orange application-next-button" type="button">Продолжить</button>
          </div>
        </form>
        <%= _.template(require('./../includes/step-footer.html'))(data) %>
      </div>
    </section>
  </main>
  <script src="js/bundle.js?v=0.0.1"></script>
</body>

</html>
