<% var data = {
  title: "SmartCredit | Шаг 4",
}; %>
<%= _.template(require('./../includes/step-header.html'))(data) %>

<body class="application">
  <header class="header application-header">
    <div class="application-header__container">
      <div class="header-left">
        <a href="/" class="logo">
          <img src="icons/logo.svg" alt="Smart Credit logo" width="147" height="20">
        </a>
      </div>
      <div class="header-right">
        <a href="#" class="link link--right-icon header-profile-link">
          <span>Мой кабинет</span>
          <span class="icon icon-profile"></span>
        </a>
      </div>
    </div>
  </header>
  <main class="main main-application">
    <section class="section-application">
      <div class="section-application__container">
        <form class="application-form">
          <div class="application-form__steps">
            <ul class="step-list">
              <li class="step step-one">
                <div class="step__number">1</div>
                <p class="step__title">Контактная информация</p>
              </li>
              <li class="step step-two">
                <div class="step__number">2</div>
                <p class="step__title">Паспортные данные</p>
              </li>
              <li class="step step-three">
                <div class="step__number">3</div>
                <p class="step__title">Дополнительная информация</p>
              </li>
              <li class="step step-four step--active">
                <div class="step__number">4</div>
                <p class="step__title">Получение денег</p>
              </li>
            </ul>
          </div>
          <div class="application-form__steps-mobile">
            <p class="application-form__steps-mobile__title">Получение денег</p>
          </div>
          <div class="application-form__progress">
            <div class="progress">
              <div class="progress-filled" style="width: 100%;"></div>
              <div class="progress-text progress-text--finished">
                <div class="progress-text__percent">100%</div>
                <div class="progress-text__fraction">Шаг 4 из 4</div>
              </div>
            </div>
          </div>
          <div class="application-formblock application-formblock-prevalue">
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемая сумма денег</p>
              <p class="application-choose__value">100 000 ₽</p>
            </div>
            <div class="application-formblock-prevalue__item">
              <p class="application-choose__title">Желаемый срок займа</p>
              <p class="application-choose__value">30 дней</p>
            </div>
          </div>
          <div class="application-formblock application-fieldgroup application-fieldgroup--small">
            <div class="application-banks">
              <div class="application-banks__item bank-cards">
                <div class="application-banks__item-title">
                  Банковские карты
                </div>
                <div class="card-template-wrapper">
                  <div class="card-template-container">
                    <a href="#" class="template-item template-item application-banks__item-add bank-cards__add">
                      <span class="icon icon-plus-circle application-banks__item-add__icon"></span>
                      <span class="application-banks__item-add__title">Добавить карту</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="application-banks__item bank-accounts">
                <div class="application-banks__item-title">
                  Банковские счета
                </div>
                <div class="card-template-wrapper">
                  <div class="card-template-container">
                    <a href="#" class="template-item template-item application-banks__item-add bank-accounts__add">
                      <span class="icon icon-plus-circle application-banks__item-add__icon"></span>
                      <span class="application-banks__item-add__title">Добавить счет</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="application-formblock application-cards">
            <ul class="application-cards-list">
              <li >
              <div class="application-card application-card--sber  application-card--white">
                <p class="application-card-bank">
                  <img src="icons/sberbank-card.svg" alt="Sberbank" width="113" height="21">
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="sberbank" name="bank" checked>
                <label class="application-card-label" for="sberbank">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
                </div>
              </li>
              <li >
                <div class="application-card application-card--tinkoff">
                <p class="application-card-bank">
                  <img src="icons/tinkoff-card.svg" alt="tinkoff" width="104" height="14">
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="tinkoff" name="bank">
                <label class="application-card-label" for="tinkoff">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
              </div>
            </li>
              <li >
                <div class="application-card application-card  application-card--white">
                <p class="application-card-bank"> Счет ВТБ
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="vtb" name="bank">
                <label class="application-card-label" for="vtb">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
              </div>
            </li>
              <li >
                <div class="application-card application-card--alfa  application-card--white">
                <p class="application-card-bank">
                  <img src="icons/alfabank-card.svg" alt="Sberbank" width="112" height="23">
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="alfabank" name="bank">
                <label class="application-card-label" for="alfabank">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
              </div>
            </li>
            <li >
              <div class="application-card application-card--sber  application-card--white">
                <p class="application-card-bank">
                  <img src="icons/sberbank-card.svg" alt="Sberbank" width="113" height="21">
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="sberbank" name="bank" checked>
                <label class="application-card-label" for="sberbank">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
                </div>
              </li>
              <li >
                <div class="application-card application-card--tinkoff">
                <p class="application-card-bank">
                  <img src="icons/tinkoff-card.svg" alt="tinkoff" width="104" height="14">
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="tinkoff" name="bank">
                <label class="application-card-label" for="tinkoff">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
              </div>
            </li>
              <li >
                <div class="application-card application-card  application-card--white">
                <p class="application-card-bank"> Счет ВТБ
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="vtb" name="bank">
                <label class="application-card-label" for="vtb">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
              </div>
            </li>
              <li >
                <div class="application-card application-card--alfa  application-card--white">
                <p class="application-card-bank">
                  <img src="icons/alfabank-card.svg" alt="Sberbank" width="112" height="23">
                </p>
                <input class="application-card-input visually-hidden" type="radio" id="alfabank" name="bank">
                <label class="application-card-label" for="alfabank">Выбрана
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.114 0.470703L3.95842 6.52174L1.52688 4.13719L0 5.63676L3.95945 9.52953L11.6471 1.96932L10.114 0.470703Z" fill=""/>
                  </svg>
                </label>
                <p class="application-card-number application-card-number--white">1234 5678 9000 0000</p>
                <span class="application-card-date">11/24</span>
                <span class="application-card-name">Алексей П.</span>
                <span class="application-card-system application-card-system--mc"></span>
              </div>
            </li>
            </ul>
          </div>
          <div class="application-formblock application-form-next-action">
            <button class="btn btn--orange application-next-button" type="button">Получить деньги</button>
          </div>
        </form>
      </div>
    </section>
  </main>
  <script src="js/bundle.js?v=0.0.1"></script>
</body>

</html>
