<% var data = {
  title: "SmartCredit | Заявки в службу поддержки",
  name: 'tickets',
}; %>
<%= _.template(require('./../includes/lk-header.html'))(data) %>

<main class="main main-tickets">
  <section class="section lk-section">
    <div class="lk-page-container tickets-page-container">
      <h2 class="section-title lk-section-title">Заявки в службу поддержки</h2>
      <div class="lk-section-wrapper">
        <div class="lk-content-block ctabs tickets">
          <div class="tickets-header">
            <div class="ctabs-tablist tickets__tabs" role="tablist">
              <button class="ctabs-tablist__item tickets__tabs-item" role="tab" aria-selected="false"
                aria-controls="opened-tab" id="opened">Открытые</button>
              <button class="ctabs-tablist__item tickets__tabs-item" role="tab" aria-selected="false"
                aria-controls="closed-tab" id="closed" tabindex="-1">Закрытые</button>
              <button class="ctabs-tablist__item tickets__tabs-item" role="tab" aria-selected="true"
                aria-controls="all-tab" id="all" tabindex="-1">Все</button>
            </div>
            <button class="btn btn--orange new-ticket-button">Новая заявка</button>
          </div>
          <div class="ctabs-panel" tabindex="0" role="tabpanel" id="opened-tab" aria-labelledby="opened" hidden="">
            <div class="ctabs-panel__content tickets-content">
              <ul class="lk-table support-tickets-list">
                <li class="lk-table__row support-tickets-list__item">
                  <div class="lk-table__head support-tickets-list__head">
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Изменена</p>
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Заявка</p>
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Статус</p>
                  </div>
                  <div class="lk-table__row-inner support-tickets-list__row">
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Изменена</span>
                      <span class="lk-table__cell-value">14 января 2019 г., 17:39:30</span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Заявка</span>
                      <span class="lk-table__cell-value support-tickets-list__cell-ticket">
                        <span class="ticket-id">#16916</span> <span class="ticket-title">Кто сейчас занимается моей
                          заявкой?</span>
                      </span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell support-tickets__status">
                      <span class="lk-table__head-cell--mobile">Статус</span>
                      <span class="lk-table__cell-value ticket--opened">Открыт</span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="ctabs-panel" tabindex="0" role="tabpanel" id="closed-tab" aria-labelledby="closed" hidden="">
            <div class="ctabs-panel__content tickets-content">
              <ul class="lk-table support-tickets-list">
                <li class="lk-table__row support-tickets-list__item">
                  <div class="lk-table__head support-tickets-list__head">
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Изменена</p>
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Заявка</p>
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Статус</p>
                  </div>
                  <div class="lk-table__row-inner support-tickets-list__row">
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Изменена</span>
                      <span class="lk-table__cell-value">21 ноября 2018 г., 11:20:31</span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Заявка</span>
                      <span class="lk-table__cell-value support-tickets-list__cell-ticket">
                        <span class="ticket-id">#16421</span> <span class="ticket-title">Кто сейчас занимается моей
                          заявкой?</span>
                      </span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell support-tickets__status">
                      <span class="lk-table__head-cell--mobile">Статус</span>
                      <span class="lk-table__cell-value">Закрыт</span>
                    </p>
                  </div>
                </li>
                <li class="lk-table__row support-tickets-list__item">
                  <div class="lk-table__row-inner support-tickets-list__row">
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Изменена</span>
                      <span class="lk-table__cell-value">27 октября 2018 г., 21:13:53</span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Заявка</span>
                      <span class="lk-table__cell-value support-tickets-list__cell-ticket">
                        <span class="ticket-id">#15839</span> <span class="ticket-title">Кто сейчас занимается моей
                          заявкой?</span>
                      </span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell support-tickets__status">
                      <span class="lk-table__head-cell--mobile">Статус</span>
                      <span class="lk-table__cell-value">Закрыт</span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="ctabs-panel" tabindex="0" role="tabpanel" id="all-tab" aria-labelledby="all">
            <div class="ctabs-panel__content tickets-content">
              <ul class="lk-table support-tickets-list">
                <li class="lk-table__row support-tickets-list__item">
                  <div class="lk-table__head support-tickets-list__head">
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Изменена</p>
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Заявка</p>
                    <p class="lk-table__head-cell support-tickets-list__head-cell">Статус</p>
                  </div>
                  <div class="lk-table__row-inner support-tickets-list__row">
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Изменена</span>
                      <span class="lk-table__cell-value">14 января 2019 г., 17:39:30</span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Заявка</span>
                      <span class="lk-table__cell-value support-tickets-list__cell-ticket">
                        <span class="ticket-id">#16916</span> <span class="ticket-title">Кто сейчас занимается моей
                          заявкой?</span>
                      </span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell support-tickets__status">
                      <span class="lk-table__head-cell--mobile">Статус</span>
                      <span class="lk-table__cell-value ticket--opened">Открыт</span>
                    </p>
                  </div>
                </li>
                <li class="lk-table__row support-tickets-list__item">
                  <div class="lk-table__row-inner support-tickets-list__row">
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Изменена</span>
                      <span class="lk-table__cell-value">21 ноября 2018 г., 11:20:31</span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Заявка</span>
                      <span class="lk-table__cell-value support-tickets-list__cell-ticket">
                        <span class="ticket-id">#16421</span> <span class="ticket-title">Кто сейчас занимается моей
                          заявкой?</span>
                      </span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell support-tickets__status">
                      <span class="lk-table__head-cell--mobile">Статус</span>
                      <span class="lk-table__cell-value">Закрыт</span>
                    </p>
                  </div>
                </li>
                <li class="lk-table__row support-tickets-list__item">
                  <div class="lk-table__row-inner support-tickets-list__row">
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Изменена</span>
                      <span class="lk-table__cell-value">27 октября 2018 г., 21:13:53</span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile">Заявка</span>
                      <span class="lk-table__cell-value support-tickets-list__cell-ticket">
                        <span class="ticket-id">#15839</span> <span class="ticket-title">Кто сейчас занимается моей
                          заявкой?</span>
                      </span>
                    </p>
                    <p class="lk-table__cell support-tickets-list__cell">
                      <span class="lk-table__head-cell--mobile support-tickets__status">Статус</span>
                      <span class="lk-table__cell-value">Закрыт</span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>