.approved-hero {
    background-image: url("../images/bg-approved.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 123px 0;

    @media screen and (max-width: 767px) {
        background: none;
        background-image: none;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.approved-hero-title {
    @media screen and (max-width: 767px) {
        color: #17233b;
    }
}

.section-approved {
    padding-bottom: 90px;

    @media screen and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: 40px;
    }
}

.section-approved__title {
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 25px;
    }
}

.section-approved__notice {
    width: 100%;
    max-width: 440px;
    margin: 0 auto 48px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
        font-size: 15px;
        line-height: 18px;
    }
}

.approved-block {
    padding: 42px 49px 43px 47px;
    border: 1px solid #e5e6eb;
    border-radius: 4px;
}

.approved-loan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 592px;
    margin: 0 auto 24px;

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        flex-wrap: wrap;
        padding: 36px;
    }
}

.approved-loan-col {
    text-align: center;

    @media screen and (max-width: 767px) {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: calc((100% - 36px) / 2);
        width: calc((100% - 36px) / 2);
        margin-bottom: 36px;
        text-align: left;

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }
}

.approved-loan-col__title {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 18px;
    color: #8c94a8;

    @media screen and (max-width: 767px) {
        margin-bottom: 7px;
        line-height: 20px;
        white-space: nowrap;
    }
}

.approved-load-col__value {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;

    & > .small {
        font-size: 15px;
    }

    @media screen and (max-width: 767px) {
        font-size: 21px;
        line-height: 25px;
        text-align: left;
    }
}

.approved-card {
    width: 100%;
    max-width: 418px;
    margin: 0 auto 48px;
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
        padding: 36px 27px;
    }
}

.approved-card__title {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 18px;
    color: #8c94a8;
}

.approved-card__value {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;

    @media screen and (max-width: 767px) {
        font-size: 21px;
        line-height: 25px;
    }
}

.approved-agreements {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    & .link {
        font-size: 14px;
        line-height: 17px;
    }

    @media screen and (max-width: 767px) {
        font-size: 12px;

        & .link {
            font-size: 12px;
        }
    }
}

.approved-get-loan {
    text-align: center;
}

.approved-get-loan-button {
    width: 100%;
    max-width: 418px;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.approved-sms {
  margin-bottom: 48px;
  text-align: center;

  & > .application-sms-field__col {
    flex-basis: 100%;
    width: 100%;
    max-width: 418px;
    margin-bottom: 12px;
    text-align: center;
  }

  & > .application-sms-field__notice {
    text-align: center;
    margin: 0 auto;
  }
}
