.body-change-password {
  background: #e5e5e5;
}

.header-change-password {
  border-bottom: 1px solid #e5e6eb;
}

.section-change-password {
  padding-top: 0;
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.change-password-wrapper {
  width: 100%;
  max-width: 682px;
  margin: 0 auto;
  padding-bottom: 23px;
  border: 1px solid #e5e9f2;
  border-radius: 6px;
  box-shadow: 0 2px 4px #edeff5;
  background: #ffffff;

  @media screen and (max-width: 767px) {
    border: none;
    border-radius: 0;
  }
}

.change-password__page-title {
  font-size: 30px;
  line-height: 27px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;

  @media screen and (mшт-width: 768px) {
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

.change-password-header {
  padding: 30px 32px 24px;
  border-bottom: 1px solid #edeef0;
}

.change-password-title {
  font-size: 20px;
  font-weight: bold;
}

.change-password-form {
  padding: 29px 32px 33px;

  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 424px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.change-password-form__field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;

  &:nth-last-child(2) {
    padding-top: 4px;
    margin-bottom: 32px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.change-password-form__field-label {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 31%;
  padding-right: 23px;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  color: #8c94a8;

  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }
}

.change-password-form__field-input {
  flex-grow: 0;
  flex-shrink: 0;
  width: 423px;
  max-width: 100%;

  @media screen and (max-width: 992px) {
    width: 423px;
  }

  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}

.change-password-submit {
  width: 100%;
  max-width: 208px;
  margin-left: 31%;
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;

  @media screen and (max-width: 424px) {
    max-width: 100%;
    margin-left: 0;
  }
}

.change-password-socials {
  padding-top: 4px;
  border-top: 1px solid #E5E9F2;
}
