.security-page-container {
  width: 100%;
  max-width: 832px;
  margin: 0 auto;
}

.security-header {
  padding: 24px 34px;
  border-bottom: 1px solid $lightGray;
}

.security-form {
  padding: 34px 35px 61px 32px;

  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 424px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.security-form__field {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;

  &:nth-last-child(2) {
    padding-top: 4px;
    margin-bottom: 45px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.security-form__field-label {
  flex-grow: 0;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #8c94a8;

  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }
}

.security-form__field-input {
  flex-grow: 0;
  flex-shrink: 0;
  width: 608px;
  max-width: 100%;
  margin-left: 27px;

  @media screen and (max-width: 992px) {
    width: 554px;
  }

  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}

.security-submit {
  width: 100%;
  max-width: 245px;
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;

  @media screen and (max-width: 424px) {
    max-width: 100%;
  }
}
